<!DOCTYPE html>
<html>
  <head>
    <%-include('./partials/head.ejs') %>
  </head>
  <body>
    <h1>Edit Pokemon Page</h1>
    <form action="/pokemon/<%=i%>?_method=PUT" method="POST">
    
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%=data.name%>" />
      <br />
      <input type="submit" value="Submit Changes" />
    </form>
  </body>
</html>